## GENERAL ##
target
.DS_Store
/nbproject/
.idea
*.iml

## MAVEN ##
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

## ECLIPSE ##
.settings/
*.classpath
*.project